@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;

}

nav{
     font-family: sans-serif,'Roboto';
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 65px;
    background-image: linear-gradient(#eee,#0000000f);
    box-shadow: 0px 4px 39.6px #0000004e;
    
    /* background-color: ; */
    
    

}
/* nav ul li{
    padding: 0 12px;
} */
.brand img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    /* padding-left: 50%; */
    /* padding-right: 50%; */
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.5rem;
}

.container{
    min-height: 75vh;
    background-color: #E5E5E5;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    display: flex;
    /* width: 70%; */
    /* margin: 23px auto; */
    border-radius: 12px;
    padding: 34px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 65px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

    
}

.icons{
    margin-top: 6px ;
    margin-bottom: 6px;
}

.icons i{
    cursor: pointer;
}
#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;

}
.songItemContainer{
    margin-top: 54px;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row: auto;
    
}

.songItem{
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 260px;
    margin: 55px ;
    justify-content: space-evenly; 
    align-items: center;
    border-radius: 34px;
    overflow: hidden;

}

.songItem img{
    width: 100%;
    height: 155px;
    overflow: hidden;
    box-sizing: border-box;
    
    border-radius: 3px;
}

/* .timestamp{
    margin: 0 23px;
    
} */
.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Roboto',sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in ;
}
.songname{
    font-size: 15px;
    margin-left: 15px;
    

}

